<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title th:text="${pageTitle}">Dashboard - Cultive+</title>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cultive+</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products/listar}">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/listar}">Usuários</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h4>Produtos</h4>
    <div th:if="${mensagem != null}" class="alert alert-info" role="alert">
        <span th:text="${mensagem}">mensagem</span>
    </div>
    <a class="btn btn-primary mb-3" th:href="@{/products/cadastro}">Novo Produto</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data de Validade</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="products : ${products}">
            <td th:text="${products.id}">1</td>
            <td th:text="${products.name}">Nome</td>
            <td th:text="${products.description}">Descrição</td>
            <td th:text="${products.expiryDate}">Data de Validade</td>
            <td>
                <a class="btn btn-sm btn-info" th:href="@{/products/{id}/atualizar(id=${products.id})}">Editar</a>
                <a class="btn btn-sm btn-danger" th:href="@{/products/{id}/remover(id=${products.id})}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(products)}" class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        0 produtos cadastrados!
    </div>
</div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© 2024 Cultive+ - Todos os direitos reservados.</span>
    </div>
</footer>
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
