<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<title th:text="${pageTitle}">Dashboard - Cultive+</title>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cultive+</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products/listar}">Produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/listar}">Usuários</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h4>Novo Usuário</h4>
    <form th:action="@{/users/salvar}" th:method="${(users.id == 0) ? 'post' : 'put'}" th:object="${users}">
        <input id="id" type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" />
            <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" th:errors="*{name}">Nome Error</div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" />
            <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" th:errors="*{email}">Email Error</div>
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" />
            <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" th:errors="*{password}">Senha Error</div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    </form>
</div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© 2024 Cultive+ - Todos os direitos reservados.</span>
    </div>
</footer>
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
